<link rel="stylesheet" href="/css/user.css">
<div>
    <form action="/create" method="POST">
        <section id="user-info">
                <h2>info</h2>
                    <div class="info" >
                        <input type="text" name="name" placeholder="your name" required>
                        <input type="email" name="email" placeholder="your email-id" required>
                        <input type="text" name="description" placeholder="tell me about yourself" required>
                        <input type="tel" name="phone" placeholder="your phone number" required>
                    </div>
        </section>
        <input type="submit" value="SAVE">

    </form>
</div>