body{
    background-color:#2623e8;
div{
    
    background-color:#2623e8;
    form{
        width:800px;
        min-width:300px;
        border-radius:4px;
        background:white;
        padding:20px;
        margin:auto;
        
        section{
            margin-top:40px;
        }

        .common{
            background:white;
        }
        h2{
            font-family:sans-serif;
            background:white;
        }
      
        
       
    .info{
        background:white;
        input{
            width:100%;
            outline:none;
            border:none;
            border-bottom:1px solid #3e64ff;
            margin :15px 0;
            color:black;
            font-size:15px;
            font-family: sans-serif;
            padding:10px;

        }
        textarea{
            width:60%;
            border: 1px solid #46aef7;
            font-size: 15px;
            font-size:15px;
            font-family: sans-serif;
            margin :15px 10px;

        }
        label{
            font-family:sans-serif;
            font-size:20px;
            font-weight: bold;
        }
    } 
    .util{
        background:white;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        h2{
            font-family:sans-serif;
        }
    
        .add-btn{
            outline: 0;
            cursor: pointer;
            
            border: 0;
            color: #fff;
            
            padding: 10px 12px;
            background: #ff3f98;
            margin-top:18px;
            margin-right: 4px;
            font-size: 13px;
            border-radius: 5px;
            opacity: .7;
           
            height:40px;
        }   
    }
    .remove-btn{
        outline: 0;
        
            cursor: pointer;
            
            border: 0;
            color: #fff;
            
            padding: 10px 12px;
            background: red;
            margin-top:18px;
            margin-right: 4px;
            font-size: 13px;
            border-radius: 5px;
            opacity: .7;
           
            height:40px;
    }
    input[type="submit"]{
            
        // background-color: #d72be3;
        // background-color: #4834c9;
        background-color: #ff3f98;
        color:white;
        font-size:0.8rem;
        outline: none;
        cursor: pointer;
        border:none;
        margin-top: 0.5rem;
            // border-radius:3%;
        width: 35%;
        padding: 0.7rem;
           
            // outline: blueviolet;
        font-family: sans-serif;
        border-radius:3%;
        
    }
    }
}
}