body {
  background-color: #2623e8; }
  body div {
    background-color: #2623e8; }
    body div form {
      width: 800px;
      min-width: 300px;
      border-radius: 4px;
      background: white;
      padding: 20px;
      margin: auto; }
      body div form section {
        margin-top: 40px; }
      body div form .common {
        background: white; }
      body div form h2 {
        font-family: sans-serif;
        background: white; }
      body div form .info {
        background: white; }
        body div form .info input {
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid #3e64ff;
          margin: 15px 0;
          color: black;
          font-size: 15px;
          font-family: sans-serif;
          padding: 10px; }
        body div form .info textarea {
          width: 60%;
          border: 1px solid #46aef7;
          font-size: 15px;
          font-size: 15px;
          font-family: sans-serif;
          margin: 15px 10px; }
        body div form .info label {
          font-family: sans-serif;
          font-size: 20px;
          font-weight: bold; }
      body div form .util {
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        body div form .util h2 {
          font-family: sans-serif; }
        body div form .util .add-btn {
          outline: 0;
          cursor: pointer;
          border: 0;
          color: #fff;
          padding: 10px 12px;
          background: #ff3f98;
          margin-top: 18px;
          margin-right: 4px;
          font-size: 13px;
          border-radius: 5px;
          opacity: .7;
          height: 40px; }
      body div form .remove-btn {
        outline: 0;
        cursor: pointer;
        border: 0;
        color: #fff;
        padding: 10px 12px;
        background: red;
        margin-top: 18px;
        margin-right: 4px;
        font-size: 13px;
        border-radius: 5px;
        opacity: .7;
        height: 40px; }
      body div form input[type="submit"] {
        background-color: #ff3f98;
        color: white;
        font-size: 0.8rem;
        outline: none;
        cursor: pointer;
        border: none;
        margin-top: 0.5rem;
        width: 35%;
        padding: 0.7rem;
        font-family: sans-serif;
        border-radius: 3%; }
