body {
  background-color: grey; }
  body #root {
    background-color: grey;
    height: auto;
    width: 100%;
    box-sizing: border-box; }
    body #root #page {
      background-color: white;
      width: 70vw;
      box-sizing: border-box;
      margin: auto; }
      body #root #page .resume-progress {
        height: 7px;
        background: linear-gradient(to right, #7dc57c 0, #7dc57c 16.6%, #1295c9 16.6%, #1295c9 33.2%, #815874 33.2%, #815874 49.8%, #fada58 49.8%, #fada58 66.4%, #e15554 66.4%, #e15554 83%, #ff8000 83%, #ff8000 99.6%); }
      body #root #page .heading {
        color: #2546b3; }
      body #root #page .margin10 {
        margin-left: 1.5rem;
        margin-right: 1.5rem; }
      body #root #page .info {
        color: #767676;
        line-height: 0.9px;
        font-size: 18px; }
      body #root #page .info1 {
        line-height: 1.5px; }
      body #root #page .title {
        line-height: 2.5px; }
      body #root #page #info-social-links {
        display: flex;
        justify-content: space-between; }
        body #root #page #info-social-links #basic-info #name {
          font-size: 2rem;
          font-family: arial; }
        body #root #page #info-social-links #basic-info .info {
          font-size: 1rem;
          font-family: arial; }
        body #root #page #info-social-links #social-links {
          margin-right: 2.5rem;
          margin-top: 2.5rem; }
      body #root #page #project-container a {
        color: blue;
        cursor: pointer;
        text-decoration: none; }
